body {
    font-family: 'Times New Roman', Times, serif;
  background-color: rgb(13, 13, 34);
    
}
.calculator {

    max-width: 210px;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 10px;
    position: relative;
    top: 70px;
    background: linear-gradient(145deg,rgb(2, 7, 17)50%,rgb(40, 40, 43)100%);
    border-radius: 14px;
}
.calculator input[type="text"] {
    width: 91%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #969696;
}
.calculator button {
   margin: 10px;
    font-size: 18px;
    width: 100%;
    padding: 6px;
    border: none;
    background: linear-gradient(rgb(236, 134, 0)40%,rgb(221, 38, 6)100%);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}